extends layout
include mixins/navbar 
include mixins/cards 
include mixins/sidebar

block content
    +navbar(tag_list, name, user)
    +sidebar
    style.
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        .caption {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            text-align: center;
        }
    div(class="main article")
        p !{article_text}