extends layout
include mixins/navbar
include mixins/cards

block content
  +navbar(tag_list, name, user)
  div(class="jumbotron main")
    h1(class="display-4") User Profile
    //- p(class="lead")
    //-   a(class="btn btn-primary btn-sm" href="#" role="button") Modify Settings
    div(class='user_details', style="display:flex;flex-direction:row;flex-wrap:wrap")
      .card.text-white.bg-dark.mb-3(style='max-width: 20rem;margin:10px;')
        .card-body
          h4.card-title Username
          p.card-text= user.u_id
          h4.card-title Name 
          p.card-text= user.f_name + ' ' + user.l_name
          h4.card-title Email 
          p.card-text= user.email
