mixin navbar(tag_list)
  nav(class="navbar navbar-expanded-lg navbar-light bg-light")
    a(class="navbar-brand" href="#") NewW-B
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarColor03")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item")
          a(href="index" class="nav-link") Home
        each tag in tag_list
          a(href=tag.url class="nav-link") #{tag.tag}
